{% extends "blog/base.html" %}
{% load static %}
{% block content %}
  <section class="hero" id="hero">
    <div class="container">
      <div class="card card-custom mb-3 shadow-sm">
        <div class="row g-0">
          <div class="col-md-4">
            <!-- Aquí iría el thumbnail de la noticia -->
            <img src="{% static 'blog\images\imagen2.avif' %}" alt="Thumbnail de la noticia" class="img-fluid rounded">
          </div>
          <div class="col-md-8">
            <div class="card-body mx-4">
              <p class="card-text text-muted"><a href="#" class="tiny text-decoration-none small">Autor</a> • Fecha de
                publicación</p>
              <h2 class="display-5 fw-bold">Título de la noticia</h5>
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting
                  industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                  1500s,
                  when an unknown printer took a galley of type and scrambled it to make a type
                  specimen
                  book. It has survived not only five centuries, but also the leap into electronic
                  typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                  the
                  release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                  desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
                <p class="card-text text-muted"><a href="#" class="tiny text-decoration-none small">Categoría</a> • Tiempo
                  de lectura</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="last-posts" id="last-posts">
    <div class="container" id="titulo">
      <h2 class="display-5 fw-bold">Last Posts</h2>
    </div>
    <div class="container" id="card">
      <div class="row">
        <div class="col-md-3 mt-4">
          <div class="card card-custom">
            <img src="{% static 'blog\images\imagen2.avif' %}" class="card-img-top" alt="Thumbnail de la noticia">
            <div class="card-body">
              <p class="card-text text-muted"><a href="#" class="tiny text-decoration-none small">Autor</a> • Tiempo de
                publicación</p>
              <h5 class="card-title">Título de la noticia</h5>
              <p class="card-text">Primeras 200 caracteres del post...</p>
              <p class="card-text text-muted"><a href="#" class="tiny text-decoration-none small">Categoría</a> • Tiempo
                de lectura</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 mt-4">
          <div class="card card-custom">
            <img src="imagen3.jpg" class="card-img-top" alt="Thumbnail de la noticia">
            <div class="card-body">
              <p class="card-text text-muted"><a href="#" class="tiny text-decoration-none small">Autor</a> • Tiempo de
                publicación</p>
              <h5 class="card-title">Título de la noticia</h5>
              <p class="card-text">Primeras 200 caracteres del post...</p>
              <p class="card-text text-muted"><a href="#" class="tiny text-decoration-none small">Categoría</a> • Tiempo
                de lectura</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 mt-4">
          <div class="card card-custom">
            <img src="imagen.jpg" class="card-img-top" alt="Thumbnail de la noticia">
            <div class="card-body">
              <p class="card-text text-muted"><a href="#" class="tiny text-decoration-none small">Autor</a> • Tiempo de
                publicación</p>
              <h5 class="card-title">Título de la noticia</h5>
              <p class="card-text">Primeras 200 caracteres del post...</p>
              <p class="card-text text-muted"><a href="#" class="tiny text-decoration-none small">Categoría</a> • Tiempo
                de lectura</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 mt-4">
          <div class="card card-custom">
            <img src="ruta-de-la-imagen-thumbnail.jpg" class="card-img-top" alt="Thumbnail de la noticia">
            <div class="card-body">
              <p class="card-text text-muted"><a href="#" class="tiny text-decoration-none small">Autor</a> • Tiempo de
                publicación</p>
              <h5 class="card-title">Título de la noticia</h5>
              <p class="card-text">Primeras 200 caracteres del post...</p>
              <p class="card-text text-muted"><a href="#" class="tiny text-decoration-none small">Categoría</a> • Tiempo
                de lectura</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="hero" id="hero">
    <div class="container">
      <div class="card card-custom mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <!-- Aquí iría el thumbnail de la noticia -->
            <img src="imagen2.avif" alt="Thumbnail de la noticia" class="img-fluid rounded">
          </div>
          <div class="col-md-8">
            <div class="card-body mx-4">
              <p class="card-text text-muted"><a href="#" class="tiny text-decoration-none small">Autor</a> • Fecha de
                publicación</p>
              <h2 class="display-5 fw-bold">Título de la noticia</h5>
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting
                  industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                  1500s,
                  when an unknown printer took a galley of type and scrambled it to make a type
                  specimen
                  book. It has survived not only five centuries, but also the leap into electronic
                  typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                  the
                  release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                  desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
                <p class="card-text text-muted"><a href="#" class="tiny text-decoration-none small">Categoría</a> • Tiempo
                  de lectura</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="last-posts" id="last-posts">
    <div class="container" id="titulo">
      <h2 class="display-5 fw-bold">Popular Posts</h2>
    </div>
    <div class="container" id="card">
      <div class="row">
        <div class="col-md-3 mt-4">
          <div class="card card-custom">
            <img src="imagen2.avif" class="card-img-top" alt="Thumbnail de la noticia">
            <div class="card-body">
              <p class="card-text text-muted"><a href="#" class="tiny text-decoration-none small">Autor</a> • Tiempo de
                publicación</p>
              <h5 class="card-title">Título de la noticia</h5>
              <p class="card-text">Primeras 200 caracteres del post...</p>
              <p class="card-text text-muted"><a href="#" class="tiny text-decoration-none small">Categoría</a> • Tiempo
                de lectura</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 mt-4">
          <div class="card card-custom">
            <img src="imagen3.jpg" class="card-img-top" alt="Thumbnail de la noticia">
            <div class="card-body">
              <p class="card-text text-muted"><a href="#" class="tiny text-decoration-none small">Autor</a> • Tiempo de
                publicación</p>
              <h5 class="card-title">Título de la noticia</h5>
              <p class="card-text">Primeras 200 caracteres del post...</p>
              <p class="card-text text-muted"><a href="#" class="tiny text-decoration-none small">Categoría</a> • Tiempo
                de lectura</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 mt-4">
          <div class="card card-custom">
            <img src="imagen.jpg" class="card-img-top" alt="Thumbnail de la noticia">
            <div class="card-body">
              <p class="card-text text-muted"><a href="#" class="tiny text-decoration-none small">Autor</a> • Tiempo de
                publicación</p>
              <h5 class="card-title">Título de la noticia</h5>
              <p class="card-text">Primeras 200 caracteres del post...</p>
              <p class="card-text text-muted"><a href="#" class="tiny text-decoration-none small">Categoría</a> • Tiempo
                de lectura</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 mt-4">
          <div class="card card-custom">
            <img src="ruta-de-la-imagen-thumbnail.jpg" class="card-img-top" alt="Thumbnail de la noticia">
            <div class="card-body">
              <p class="card-text text-muted"><a href="#" class="tiny text-decoration-none small">Autor</a> • Tiempo de
                publicación</p>
              <h5 class="card-title">Título de la noticia</h5>
              <p class="card-text">Primeras 200 caracteres del post...</p>
              <p class="card-text text-muted"><a href="#" class="tiny text-decoration-none small">Categoría</a> • Tiempo
                de lectura</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}